.end {
  padding: 100px 0;
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
}
.end .container {
  display: flex;
  padding: 0 15px;
  width: 1158px;
  height: 112px;
  max-width: 1158px;
}
.content-footer {
  display: flex;
  flex-direction: column;
  width: 264px;
  height: 112px;
  max-width: 264px;
}

.logo-footer {
  margin-bottom: 16px;
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
