.title {
  background-color: #2e2f42;
  padding: 188px 0;
  width: 1440px;
  height: 600px;
}
.title .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;

  padding: 0 15px;
  width: 1158px;
  height: 224px;
  max-width: 1158px;
}
.title-name {
  display: block;
  max-width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.click {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;
  border-radius: 4px;
  padding: 16px 32px;

  width: 169px;
  height: 56px;
  max-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.click:hover,
.click:focus {
  background: #404bbf;
}
